.myimage {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.modalImage{
    bottom: 0;
    position: absolute;
    padding-top: 5000px;
    height: 40%;
}

#mylist {
    margin-top: 10%; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
}


#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin-top: 10%; /* 15% from the top and centered */
    position: relative;
    padding: 20px;
    border: 1px solid #888;
    height: 100%;
    width: 40%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

li:hover{
    background-color: #dddddd;
}

img{
    border-radius: 25px;
    width: 200px;
    height: 150px;
}


.img-container{
    position: relative;
    width: 200px;
    height: 150px;
}

.text-container{
    position: absolute;
    right: 0;
    top: 0;
}

.intrebare:hover{
    background-color: #dddddd;
}

span{
    margin-left: 10px;
}

span:hover{
    background-color: #dddddd;
}