<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title> {% block title %} {% endblock %} </title>
    {% block static %} {% endblock %}
</head>
    <body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>