.wrapper
{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-row-gap: 1em;
    grid-column-gap: 15px;
    margin: 0;
    padding: 0;
}

.text
{
    text-align: end;
}


.align
{
    background-image: url("http://www.hellenicaworld.com/Greece/ImagesGR/sq1.jpg");
    background-size: 3em;
    font-size: 1em;
    letter-spacing: 2.45em;
    height: 100%;
    width: 100%;
    font-family: Consolas;
}

#nume{
    width: 30em;
}

#prenume{
    width: 30em;

}
#cnp{
    width: 15em;
}


