{% extends "myauth/base.html" %}
{% load customtags %}
{% block title %}
Index
{% endblock %}

{% block content %}
    Aspect: {{ request.user.aspect }}
    <p id="error-zone"></p>
    {% for participant in participants %}
        <p id="id{{ participant.id }}">
            <span>
            {{ participant.nume }} {{ participant.get_etapa_display }}
            {% if participant.etapa %}
                {{ participant.scor }}
            {% endif %}
            </span>
            {% if participant|mytag:request.user.aspect and participant.etapa != 2 %}
                <a href="#">Voteaza
                </a>
                <input type="number">

            {% endif %}
        </p>
    {% endfor %}
{% endblock %}
{% block js %}
    <script>
        $(function () {

            var participants_len = {{ participants.count }};
            var chatSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/');

            chatSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var id_participant = data['id_participant'];

                let participant = $('#id' + id_participant + ' span');

                participant.html(data["nume_participant"] + ' ' + data["etapa_participant"] + ' ' + data["scor_participant"]);
                if(data["etapa_participant"] !== "Finished") {
                    $('#id' + id_participant + ' input').show();
                    $('#id' + id_participant + ' a').show();
                }
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            for(let i=1; i<= participants_len; i++)
                $('#id' + i).children('a').on('click', function(e) {
                    var comment_side1 = $('#id' + i + ' a');
                    var comment_side2 = $("#id" + i + ' input');

                    var input_value = comment_side2.val();
                    if ($.isNumeric(input_value) && parseInt(input_value) >= 0){
                        chatSocket.send(JSON.stringify({
                            'id': i,
                            'scor': input_value,
                        }));
                        comment_side1.hide();
                        comment_side2.hide();

                        $("#error-zone").text("");
                    }
                    else{
                        $("#error-zone").text("Tre sa votezi cu intregi pozitivi ma nene");
                    }
                })
        })
    </script>
{% endblock %}
