*{
  margin: 0;
}

#header{
  text-align: center;
  background-color: red;
  height: 100px;
}

#content{
  background-color: green;
  min-height: 80vh;
  width: 100%;
}

#footer{
  text-align: center;
  height: 60px;
  background-color: yellow;
}

#menu{
  background-color: blue;
  text-align: center;
}


