ul.dialog {
    list-style-type: none;
    padding: 100px;
}

li {
    min-height: 50px;
    min-width: 90px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 0px;
    border-radius: 15px 50px 30px;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 20px;
    margin-left: 35px;
    padding: 10px;
}

li:before {
    background-image: url("css-pr7.png");
    position: absolute;
    left: 20px;
    content: '';
    height: 56px;
    width: 123px;
}

li.bob:before
{
    width: 112px;
    background-position: 127px 0;
}
li.bob {
    margin-left: 23px;
}
