{% extends "myauth/base.html" %}

{% block title %}
Index
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'myauth:change_password' %}">Schimba parola</a>
        <a href="{% url 'myauth:add_avatar' %}">Schimba avatar</a>
        <a href="{% url 'adaugasterge:adauga' %}">Adauga intrebare</a>
    {% endif %}

    {% if intrebari %}
        <div id="intrebari">
            {% for intrebare in intrebari %}
                <div class="intrebare">
                    <p id="id{{ intrebare.pk }}">{{ intrebare.text }} {{ intrebare.data }}


                        <p class="img-container">
                        <img src="{{ intrebare.user.avatar.url }}" />
                        <p class="text-container">{{ intrebare.user.username }} </p>
                        </p>


                    </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
         <p> Nu sunt intrebari</p>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(function () {
            var user_name = "{{ user.username }}";
            var user_image;
            {% if  user.avatar %}
                user_image = "{{ user.avatar.url }}";
            {% else %}
                user_image = "/files/imagini/anonim.png";
            {% endif %}
            var active = '';

            $('.intrebare').on('click', function () {
                if (active !== $(this)){
                    if(active !== ''){
                        active.children('div').empty();
                        $('input').remove();
                    }

                    active = $(this);
                    let this_object = $(this);
                    let nr_intrebare = $(this).children('p').attr('id');

                    makeXHR('/get_raspunsuri', 'GET', {'id_intrebare': nr_intrebare})
                        .done(function (data) {
                            let raspunsuri = this_object.children('div');
                            if (data['raspunsuri'].length !== 0){
                                for(let el of data['raspunsuri']){
                                    adaguaRaspuns(el, this_object);
                                }
                            } else {
                                this_object.append($('<div>').text('Nu sunt raspunsuri'))
                            }
                            if (data['authenticated']){
                                let input_raspuns = $('<input>').keypress(function (e) {
                                    if (e.which == 13){
                                        let message = $(this).val();
                                        makeXHR('/sub_raspuns', 'GET', {'raspuns': message, 'id_intrebare': nr_intrebare})
                                            .done(function (data) {
                                                adaguaRaspuns({'nume': user_name, 'avatar': user_image, 'text': message, 'data': ' '}, this_object)
                                            })

                                    }
                                });
                                input_raspuns.insertAfter(this_object);
                            }
                        })
                }
            });
            function adaguaRaspuns(el, this_object){
                let div_text = $('<div>').addClass('text-container').text(el['nume']);
                let div_img = $('<div>').addClass('img-container').append($('<img>').attr('src', el['avatar']))
                    .append(div_text);

                let el_raspuns = $('<div>').append($('<span>').text(el['text'] + ' ' + el['data']))
                    .append(div_img);
                this_object.append(el_raspuns);
            }
        })
    </script>
{% endblock %}