table,td{
    border: 1px solid black; 
    
}
table{

}
td{
    height: 50px;
    width: 50px;
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
}

input {
	width: 100px;
}

img{
    height: 100%;
    width: 100%;
}