body{
  margin:0;
}

.wrapper
{
  /*display: inline-grid;*/
  /*grid-template-columns: auto auto;*/
  /*grid-column-gap: 50px;*/
  /*grid-row-gap: 50px;*/

  border: 1px solid black;
  padding: 50px;
  max-width: 600px;
}

.element
{
  padding-top:30px; 
  margin: 50px;
  text-align: center;
  background-color: turquoise;
  width: 190px;
  height: 160px;
  display: inline-block;
}

.inner_element
{
  text-align: center;
  position: relative;
  bottom: 5px;
}


img{
  width: 130px;  
}

@media screen and (max-width: 700px){
    .inner_element{
        color: red;
        bottom: 100%;
    }
}
