body
{
  margin:0;
}

.wrapper
{
  display: inline-grid;
  border: 1px solid black;
  background-color: yellow;
}

.element{
    display: table;
    text-align: center;
    padding: 10px;
    padding-right: 130px;
}

.inner_element
{
 display: table-cell;
 padding-left: 10px;
 vertical-align: middle;
}


img{
  width: 130px;
  margin: 0;
}