#parinte
{
    width: 80%;
    display: flex;
}
#stanga{
    border: solid 1px black;
    float: left;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textStanga{
    text-align: center;
    vertical-align: middle;
}
#dreapta{
    border: solid 1px black;
    float: right;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pizza{
    width: 100px;
    max-width: 200px;
    margin-top: auto;
    margin-bottom : auto;
    margin-left: auto;
    margin-right: auto;
}