table,tr,td{
    border: 1px solid black;
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
}
table{
    height: 40vh;
    width: 40vh;
}

td{
    height: 5vh;
    width:5vh;
}