{% extends 'myauth/base.html' %}
{% block title %}
    Creare produs
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Creeaza</button>
    </form>
{% endblock %}

{% block js %}
    <script>
$(function() {
        $( ".datepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "2018:2030",
          dateFormat: 'yy-mm-dd',

        });
        $('.timepicker').timepicker({
    timeFormat: 'h:mm',
    interval: 60,
    minTime: '10',
    maxTime: '6:00pm',
    defaultTime: '11',
    startTime: '10:00',
    dynamic: false,
    dropdown: true,
    scrollbar: true
});
      });

    </script>
{% endblock %}