{% extends 'myauth/base.html' %}
{% block title %}
    Delete
{% endblock %}

{% block content %}
    <p>Sunteti sigur ca doriti sa stergeti cuvantul?</p>
    {% if err %}
        {{ err }}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Da</label><input type="radio" name="raspuns" value="da">
        <label>Nu</label><input type="radio" name="raspuns" value="nu">
        <button type="submit">Rapunde</button>
    </form>
{% endblock %}