{% extends "base.html" %}
{% block title %}
    Proba
{% endblock %}


{% block content %}
    {{ proba.pk }}
    {{   proba.nume }}
    {{   proba.swimstyle }}
    {{ proba.distanta }}
    <a href="{% url 'update_proba' proba.pk %}">Update</a>
    <a href="{% url 'delete_proba' proba.pk %}">Delete</a>
{% endblock %}
