{% extends 'base.html' %}
{% block title %}
    choose
{% endblock %}

{% block content %}
    <form method="post">
    <p>Doriti sa stergeti?</p>
    <input type="radio" name="raspuns" value="da">yes
    <input type="radio" name="raspuns" value="nu">no
    <br>
    <button type="submit">Dezicizie colosala</button>
    </form>
{% endblock %}