{% extends "base.html" %}

{% block static %}
    {% load static %}
{% endblock %}

{% block content %}
<div class="register-page">
    <div class="form">
        <form class="form-style-donez" method="post">
            {% csrf_token %}
            {{ form1.as_p }}
            <input type="submit" value="Inregistrare" />
        </form>
    </div>
</div>

{% endblock %}