{% extends 'base.html' %}

{% block title %}
    Probe
{% endblock %}

{% block content %}
    {% if probe %}
        {% for proba in probe %}
            <a href="{% url 'get_proba' proba.pk %}">{{ proba.pk }} {{ proba.nume  }} {{ proba.swimstyle  }} {{ proba.distanta }}</a>
            <br>
        {% endfor %}
    {% else %}
        <p>Nu sunt probe</p>
    {% endif %}
    <br>
    <a href="{% url 'creare_proba' %}">Creaza proba</a>
{% endblock %}