{% extends "base.html" %}
{% block title %}
    Creare
{% endblock %}


{% block content %}
    <form method="post">
    <input type="hidden" name="_method" value="put" />
        {{ form }}
        <button type="submit">Apasa-l</button>
    </form>
{% endblock %}
