{% extends 'myauth/base.html' %}
{% block title %}
Index
{% endblock %}

{% block content %}
    <div>
        {% for data in date %}
            <span class="data-span">{{ data.year }}-{{ data.month }}-{{ data.day }}</span>
        {% endfor %}
        <ul id="details">

            {% for eveniment in evenimente %}
                <li>
                id: {{ eveniment.pk }}
                ora: {{ eveniment.ora }}
                data: {{ eveniment.data }}
                descriere: {{ eveniment.descriere }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            var cached = {};
            var details = $('#details');

            $(".data-span").each(function (i) {
                cached[$(this).text()] = {"true": false};
            });

            $(".data-span").on('click', function () {
                let current_item = $(this);
                if(! cached[current_item.text()]["true"]) {
                    makeXHR('/get_evenimente', 'GET', {'data': $(this).text()})
                        .done(function (data) {
                            cached[current_item.text()]["true"] = true;
                            cached[current_item.text()]["items"] = data;
                            construct(data);
                        })
                } else{
                    construct(cached[current_item.text()]["items"]);
                }
            });

            function construct(data) {
                details.empty();
                for (let el of data) {
                    let pk = el['pk'];
                    el = el['fields'];
                    details.append($('<li>').text('id: ' + pk + 'ora: ' + el['ora'] + ' data: ' + el['data'] + ' descriere: ' + el['descriere']));
                }
            }
        })
    </script>
{% endblock %}