{% extends 'myauth/base.html' %}
{% block title %}
Main
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'adaugasterge:adauga' %}">Adauga</a>
        {% for cuvantt in all_cuvinte %}
            <h5>{{ cuvantt }} <a href="{% url 'adaugasterge:sterge' cuvantt.id %}">Sterge Cuvant</a> </h5>
        {% endfor %}
    {% else %}
        Greseli: <span id="greseli">{{ greseli }}</span>
        <div id="cuvant">{{ cuvant }}</div>

        <input id="input-area" type="text">
        <div id="basicUsage">0</div>

        <div id="castigat"></div>

    {% endif %}
{% endblock %}

{% block js %}

    <script>
        $(function () {
            var litera = $('#input-area');
            var cuvant = $('#cuvant');
            var greseli = $("#greseli");
            var win = $("#castigat");
            var clock = $('#basicUsage')

            setInterval(function() {
                clock.text(parseInt(clock.text()) + 1);
            }, 1000);

            litera.on('input', function () {
                makeXHR('/get_val', 'get', {'litera': $(this).val()})
                    .done(function (data) {
                        if(data['win']){
                            win.text('Ai castigat');
                            if(data['in_hall']){
                                win.append($('<p>').text('Introdu numele')).append($('<input>').keypress(function (e) {
                                    if(e.which == 13) {
                                        get_fames({'name': $(this).val()});
                                        $(this).hide();
                                    }
                                }));
                            } else {
                                get_fames({});
                            }
                        }
                        if(data['restart'])
                            location.reload();
                        if(! data['greseli']){
                            cuvant.text(data['cuvant']);
                        } else {
                            greseli.text(parseInt(greseli.text()) + 1);
                        }
                        litera.val('');
                    })
            });

            function get_fames(data_param) {
                makeXHR('/get_fames', 'GET', data_param)
                    .done(function (data) {
                        let tbody1 = $('<tbody>');
                        let table1 = $('<table>').attr('id', 'table1').append(tbody1);

                        win.append($('<h1>').text('Hall of time')).append(table1);
                        tbody1.append($('<tr>').append($('<th>').text('nume')).append($('<th>').text('secunde')));

                        for(let element of data['Hall_time']){
                            tbody1.append($('<tr>').append($('<td>').text(element['nume'])).append($('<td>').text(element['criteriu'])))
                        }
                        table1.addClass('sortable');

                        let tbody2 = $('<tbody>');
                        let table2 = $('<table>').attr('id', 'table2').append(tbody2);
                        win.append($('<h1>').text('Hall of mistakes')).append(table2);
                        tbody2.append($('<tr>').append($('<th>').text('nume')).append($('<th>').text('greseli')));

                        for(let element of data['Hall_mistakes']){
                            tbody2.append($('<tr>').append($('<td>').text(element['nume'])).append($('<td>').text(element['criteriu'])))
                        }

                        table2.addClass('sortable');
                        sorttable.makeSortable(document.getElementById('table1') );
                        sorttable.makeSortable(document.getElementById('table2') );
                    })
            }
        })
    </script>
{% endblock %}