{% extends "myauth/base.html" %}

{% block title %}
Schimba parola
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Adauga avatar</button>
</form>

{% endblock %}
