{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "myauth/mystyle.css" %}">
</head>
<body>
    {% if user.is_authenticated %}
        <div>
            <h1>{{ user }} {{ user.id }}</h1>
            <a href="{% url 'myauth:logout' %}">Logout</a>
        </div>
        <br><br>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

<script type="text/javascript" src={% static "myauth/jquery.js"%}>
</script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js">
</script>
<script>
    function makeXHR(url, method, data) {
        return $.ajax({
            url: url,
            type: method,
            data: data,
            dataType: "json"
        });
    }

    function rawXHR(method, url, arg, callback) {
        let xmlhttp, myObj;
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
               myObj = JSON.parse(this.responseText);
               callback(myObj);
            }
        };
        xmlhttp.open(method, url, true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send('argument=' + arg);
    }

</script>
<script src="{% static "myauth/sorttable.js" %}">
</script>
{% block js  %}
{% endblock %}
</html>
