{% extends "myauth/base.html" %}

{% block title %}
Schimba parola
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Schimba parola</button>
</form>

{% endblock %}
