<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div>
            <h1>{{ user }} {{ user.id }}</h1>
            <a href="{% url 'myauth:logout' %}">Logout</a>
        </div>
        <br><br>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
{% load static %}
<script type="text/javascript" src={% static "myauth/jquery.js/"%}>
    {#debug.log($("#1"));#}
</script>
{% block js  %}
{% endblock %}
</html>
