{% extends "myauth/base.html" %}

{% block title %}
Autentificare
{% endblock %}

{% block content %}
{% if error %}
    {{ error }}
{% endif %}
<form method="post" action="{% url 'myauth:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<a href="{% url 'myauth:register'%}">Create a new account</a>

{% endblock %}
