{% extends "myauth/base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Register</button>
</form>
{% endblock %}
