{% extends 'myauth/base.html' %}
{% block title %}
    Index
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'produse:creare_produs' %}">Adauga Produs</a>
    {% else %}
        <label for="filter-area">Filter</label> <input id="filter-area" type="text">
    {% endif %}
    <ul id="mylist">
        {% if produse %}
            {% for produs in produse %}
            <li>
                Nume: {{ produs.nume }}
                Descriere: {{ produs.descriere }}
                Producator: {{ produs.producator }}
                Pret: {{ produs.pret }}
                Cantitate: {{ produs.cantitate }}
                <img src="{{ produs.poza.url }}" class="myimage">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'produse:delete_produs' produs.pk %}">Sterge produs </a>
                {% endif %}
            </li>
            {% endfor %}
        {% endif %}
    </ul>
    <div id="myModal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modal-text">
            </div>
          </div>
    </div>
{% endblock %}

{% block js %}
    <script>
      $(function () {
          var modal = $('#myModal');
          var modal_content = $('#modal-text');
          var closeBtn = $('.close');
          var area = $('ul');
          var last_xhr = "";

          $('#filter-area').on('input', function () {
              if(last_xhr.hasOwnProperty('abort'))
                last_xhr.abort();
              last_xhr = makeXHR('/filter', 'GET', {'filtru': $(this).val()})
                  .done(function (data) {
                      area.empty();
                      for(let element of data){
                          let nume = element['nume'];
                          let poza =element['poza'];

                          let el = $('<li>').text(
                              'Nume ' + nume
                          ).append($('<img>').attr('src', 'files'+'/'+poza).addClass('myimage'));

                          area.append(el);
                          el.attr('id', 'id' + element['pk']);
                          put_signal_on(el);
                      }
                  }).fail(function (err) {
                      console.log(err);
                  });
          });

          closeBtn.on('click', function () {
             modal.hide();
          });

          function put_signal_on(element) {
             element.on('click', function () {
                 makeXHR('/get_detail', 'GET', {'id': $(this).attr('id')})
                     .done(function (data) {
                         let model = data['produs'].fields;
                         modal_content.empty();
                         modal.show();
                         modal_content.append($('<img>').attr('src', 'files/' + model['poza']).addClass('modalImage'))
                             .append($('<p>').text('Nume: ' + model['nume']))
                             .append($('<p>').text('descriere: ' + model['descriere']))
                             .append($('<p>').text('producator: ' + model['producator']))
                             .append($('<p>').text('pret: ' + model['pret']))
                             .append($('<div>').attr('id', 'plot'));
                         let datetimes= [];
                         let popularity = [];
                         for (let i=0; i<data["popularitate"].length; i++){
                             datetimes.push(data['popularitate'][i]["creare"]);
                             popularity.push(i);
                         }
                         console.log(datetimes);
                         console.log(popularity);
                         let plot = [
                            {
                                x: datetimes,
                                y: popularity,
                                type: 'scatter'
                            }
                         ];

                        Plotly.newPlot('plot', plot);
                     })
             });
          }

      });
    </script>

{% endblock %}