{% extends 'myauth/base.html' %}
{% block title %}
    Creare produs
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Creeaza</button>
    </form>
{% endblock %}