*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    margin: 0;
}

header{
    background-color: red;
    height: 15%;
}

menu{
    background-color: yellow;
    margin: 0;
    height: 10%;
    padding-left: 4%;
    padding-right: 4%;
}

#wraper{
    height: 100%;
    background-color: brown;
}

menuitem{
    float: left;
    /*display: inline-block; ??????*/
    width: 20%;
    height: 100%;
    background-color: pink;
}

p{
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

menuitem:hover{
    background-color: antiquewhite;
}


div{
    background-color: green;
    height: 65%;
}

footer{
    background-color: pink;
    height: 10%;
}
