*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    margin: 0;
}

header{
    background-color: red;
    height: 15%;
}

menu{
    float: left;
    background-color: yellow;
    height: 75%;
    width: 30%;
}

#wraper{
    height: 100%;
    width: 100%;
    background-color: brown;
}

menuitem{
    /*display: inline-block; ??????*/
    /*width: 20%;*/
    height: 15%;
    background-color: pink;
    display: block;
}


menuitem:hover{
    background-color: antiquewhite;
}


div{
    background-color: green;
    height: 75%;
}

footer{
    background-color: pink;
    height: 10%;
}
